@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body {
    @apply bg-[#F4F9F6] text-gray-800;
  }
  ::selection {
    @apply bg-brand-200 text-brand-900;
  }
  img,
  svg,
  video {
    max-width: 100%;
    height: auto;
  }
}

@layer utilities {
  .min-h-safe {
    min-height: 100vh;
    min-height: 100dvh;
  }
  .scrollbar-thin::-webkit-scrollbar {
    height: 6px;
    width: 6px;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    @apply rounded-full bg-slate-300;
  }
  .scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
  }
}